.header {
  height: 110px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-top {
  height: 55px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button,
.voice-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notification-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-icon-container .tooltip {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: grey;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -50px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(248, 248, 248);
}

.voice-icon {
  height: 24px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notification-icon {
  height: 24px;
}

.notification-icon-container {
  position: relative;
}

.notification-count {
  position: absolute;
  top: -3px;
  right: -7px;
  background-color: rgb(204, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 80px;
  border: 2px;
  border-style: solid;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}

.header-bottom {
  height: 55px;
  width: 100%;
  margin-top: 55px;
  margin-left: 72px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);
}

button {
  background-color: rgb(245, 245, 245);
  height: 30px;
  margin: 12px 12px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 15px;
  text-align: center;
  border: rgb(240, 240, 240);
  border-style: solid;
  cursor: pointer;
}

.button-all {
  background-color: black;
  color: white;
}
